/** Variables, Initializations and Resetting Styles **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "IBM Plex Sans", serif;
}

body {
  padding: 0 30px;
  color: #7C6A0A;
  background-color: #FFEFE7;
}

button {
  background: none;
  border-style: none;
}

/** Page Styles **/
nav {
  width: 100%;
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
}
nav h1.text-logo {
  font-size: 3.6rem;
  font-weight: 500;
  cursor: pointer;
}
nav div.buttons {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
nav div.buttons button svg {
  width: 36px;
  stroke: #7C6A0A;
  cursor: pointer;
}

main {
  width: 100%;
}
main article {
  width: 100%;
  display: flex;
  margin-top: 100px;
}
main article div {
  width: 50%;
}
main div.main-info h2 {
  margin: 30px 0;
  font-size: 4.5rem;
  font-weight: 500;
}
main div.main-info p {
  font-size: 1.9rem;
}
main div.main-info button {
  font-size: 1.6rem;
  color: white;
  width: 170px;
  padding: 20px;
  margin-top: 50px;
  border-radius: 30px;
  background-color: #FA9500;
  cursor: pointer;
}
main div.main-img {
  display: flex;
  justify-content: right;
}
main div.main-img img {
  width: 35vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.all-products-section {
  width: 100%;
  height: auto;
  display: flex;
  row-gap: 45px;
  flex-direction: column;
  margin-top: 100px;
}
.all-products-section h2 {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 25px;
}
.all-products-section .products {
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  gap: 50px;
}
.all-products-section .product-card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}
.all-products-section .product-card div {
  width: 100%;
  padding: 0px 15px;
}
.all-products-section .product-card button {
  height: 6%;
  align-self: flex-end;
}
.all-products-section .product-card button svg {
  height: 100%;
}
.all-products-section .product-card div.product-info {
  margin-top: 13px;
}
.all-products-section .product-card div.product-info h3 {
  font-size: 1.6rem;
  font-weight: 600;
}
.all-products-section .product-card div.product-info p {
  margin-top: 2px;
  font-size: 1rem;
}
.all-products-section .product-card div.product-img {
  height: 66%;
  margin-top: 7px;
  overflow: hidden;
  align-self: center;
  border-radius: 10px;
}
.all-products-section .product-card div.product-img img {
  width: 100%;
}
.all-products-section .product-card:nth-child(3n+1) {
  justify-self: start;
}
.all-products-section .product-card:nth-child(3n+2) {
  justify-self: center;
}
.all-products-section .product-card:nth-child(3n) {
  justify-self: end;
}
.all-products-section .healthcare-catalog .product-card {
  color: #7C6A0A;
  background-color: #FFDAC6;
}
.all-products-section .healthcare-catalog .product-card svg {
  stroke: #7C6A0A;
}
.all-products-section .healthcare-catalog .product-card:nth-child(1) img, .all-products-section .healthcare-catalog .product-card:nth-child(2) img, .all-products-section .healthcare-catalog .product-card:nth-child(3) img {
  -o-object-position: 0px -15px;
     object-position: 0px -15px;
}
.all-products-section .furniture-catalog .product-card {
  color: white;
  background-color: #BABD8D;
}
.all-products-section .furniture-catalog .product-card svg {
  stroke: white;
}
.all-products-section .furniture-catalog .product-card:nth-child(3) img, .all-products-section .furniture-catalog .product-card:nth-child(4) img, .all-products-section .furniture-catalog .product-card:nth-child(8) img, .all-products-section .furniture-catalog .product-card:nth-child(9) img {
  -o-object-position: 0px -30px;
     object-position: 0px -30px;
}

footer {
  width: 100%;
  height: 250px;
  background-color: #FA9500;
}/*# sourceMappingURL=main.css.map */