/** Mixins, Variables, Initializations and Resetting Styles **/

// Variables: Page Colors
$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$contrast-color: #FA9500;

// Variables: Text Colors
$text-main-color: #7C6A0A;
$text-contrast-color: #E86424;

// Variables: Fonts
$font-stack: "IBM Plex Sans", serif;

// Mixins
@mixin card-colors($text, $background) {
	color: $text;
	background-color: $background;

	svg {
		stroke: $text;
	}
}

@mixin bigger-on-hover {
	&:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
}

@mixin page-margin {
	padding: 0 30px;
}

// Resetting Styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: $font-stack;
}

body {
	color: $text-main-color;
	background-color: $primary-color;
}

ul {
	list-style: none;
}

button {
	background: none;
	border-style: none;
}

/** Page Styles **/

nav {
	@include page-margin();
	width: 100%;
	display: flex;
	padding-top: 15px;
	align-items: center;
	justify-content: space-between;

	h1.text-logo {
		font-size: 3.6rem;
		font-weight: 500;
		cursor: pointer;
	}

	div.buttons {
		display: flex;
		column-gap: 15px;

		button svg {
			width: 36px;
			stroke: $text-main-color;
			cursor: pointer;
		}
	}
}

main {
	@include page-margin();
	width: 100%;

	article {
		width: 100%;
		display: flex;
		margin-top: 100px;

		div {
			width: 50%;
		}
	}

	div.main-info {

		h2 {
			margin: 30px 0;
			font-size: 4.5rem;
			font-weight: 500;
		}

		p {
			font-size: 1.9rem;
		}

		button {
			font-size: 1.6rem;
			color: white;
			width: 170px;
			padding: 20px;
			margin-top: 50px;
			border-radius: 30px;
			background-color: $contrast-color;
			@include bigger-on-hover();
		}

	}

	div.main-img {
		display: flex;
		justify-content: right;

		img {
			width: 35vw;
			object-fit: contain;
		}
	}
}

.all-products-section {
	@include page-margin();
	width: 100%;
	height: auto;
	display: flex;
	row-gap: 45px;
	flex-direction: column;
	margin-top: 100px;

	h2 {
		font-size: 2.8rem;
		font-weight: 400;
		margin-bottom: 25px;
	}

	.products {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 50px;
	}

	.product-card {
		width: 200px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);

		div {
			width: 100%;
		}

		button {
			height: 6%;
			align-self: flex-end;

			svg {
				height: 100%;
			}
		}

		div.product-info {
			margin-top: 13px;
			padding: 0px 15px;

			h3 {
				font-size: 1.6rem;
				font-weight: 600;
			}

			p {
				margin-top: 2px;
				font-size: 1.0rem;
			}
		}

		div.product-img {
			height: 66%;
			width: 150px;
			margin-top: 7px;
			overflow: hidden;
			align-self: center;
			border-radius: 10px;

			img {
				width: 100%;
			}
		}

		@include bigger-on-hover();
	}

	.healthcare-catalog .product-card {
		@include card-colors($text-main-color, $secundary-color);

		// Correción de Posicionado de Imánges de los Producots 1, 2 y 3.
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
			img {
				object-position: 0px -15px;
			}
		}
	}

	.furniture-catalog .product-card {
		@include card-colors(white, $tertiary-color);

		// Correción de Posicionado de Imánges de los Producots 3, 4, 8 y 9.
		&:nth-child(3), &:nth-child(4), &:nth-child(8), &:nth-child(9) {
			img {
				object-position: 0px -30px;
			}
		}
	}

}

.info-section {
	@include page-margin();

	h2 {
		font-size: 3rem;
		font-weight: 500;
	}

	.all-info-subsections {
		margin-top: 70px;
	}

	.why-us-section {

		.info-cards-container {
			display: grid;
			grid-template: 1fr / 1fr 1fr;

			:nth-child(1) img {
				margin-right: 30px;
			}
		}

		.info-card {
			display: flex;
			align-items: center;
			padding: 50px;
			font-size: 1.8rem;
			font-weight: 500;
			text-align: center;
			color: $text-contrast-color;

			img {
				height: 100px;
			}
		}
	}

	.gallery-section {

		.all-gallery-images-container {
			margin-top: 40px;
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: space-evenly;
		}

		div.gallery-img {
			width: 250px;
			height: 250px;
			overflow: hidden;
			border-radius: 10px;

			img {
				width: 100%;
			}

			&:nth-child(1) img {
				object-position: 0 -30px;
			}

			&:nth-child(2) img {
				object-position: 0 -90px;
			}

			&:nth-child(3) img {
				object-position: 0 -50px;
			}

			@include bigger-on-hover();
		}
	}

	.find-us-section {
		margin-top: 100px;

		div.map {
			margin-top: 30px;

			img {
				width: 100%;
			}
		}

		div.direction {
			margin-top: 8px;
			color: $text-contrast-color;

			h3 {
				font-size: 2.2rem;
				font-weight: 400;
			}

			p {
				font-size: 1.5rem;
			}
		}
	}
}

footer {
	color: white;
	width: 100%;
	min-height: 250px;
	margin-top: 100px;
	background-color: $contrast-color;
	padding: 30px 40px 10px;
	display: flex;
	flex-direction: column;

	h3 {
		font-size: 2rem;
		font-weight: 500;
		cursor: pointer;
		width: fit-content;
	}

	ul.company-links {
		margin-top: 20px;

		li {
			font-size: 1.2rem;
			margin-bottom: 10px;
			cursor: pointer;
			width: fit-content;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	ul.social-links {
		display: flex;
		justify-content: center;
		margin-top: auto;
		margin-bottom: 12px;
		gap: 25px;

		img {
			height: 35px;
			cursor: pointer;
		}
	}
}