/** Variables, Initializations and Resetting Styles **/

// Variables: Page Colors
$primary-color: #FFEFE7;
$secundary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #E86424;

// Variables: Text Colors
$main-text-color: #7C6A0A;
$contrast-color: #FA9500;

// Variables: Fonts
$font-stack: "IBM Plex Sans", serif;

// Resetting Styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: $font-stack;
}

body {
	padding: 0 30px;
	color: $main-text-color;
	background-color: $primary-color;
}

/** Page Styles **/

nav {
	width: 100%;
	display: flex;
	padding-top: 15px;
	align-items: center;
	justify-content: space-between;

	h1.text-logo {
		font-size: 3.6rem;
		font-weight: 500;
		cursor: pointer;
	}

	div.buttons {
		display: flex;
		column-gap: 15px;

		button {
			background: none;
			border-style: none;
		}

		button svg {
			width: 36px;
			stroke: $main-text-color;
			cursor: pointer;
		}
	}
}

main {
	width: 100%;
	height: 800px;

	article {
		width: 100%;
		display: flex;
		margin-top: 100px;

		div {
			width: 50%;
		}
	}

	div.main-info {

		h2 {
			margin: 30px 0;
			font-size: 4.5rem;
			font-weight: 500;
		}

		p {
			font-size: 1.9rem;
		}

		button {
			font-size: 1.6rem;
			color: white;
			width: 170px;
			padding: 20px;
			margin-top: 50px;
			border-style: none;
			border-radius: 30px;
			background-color: $contrast-color;
			cursor: pointer;
		}

	}

	div.main-img {
		display: flex;
		justify-content: right;

		img {
			width: 35vw;
			object-fit: contain;
		}
	}
}

footer {
	width: 100%;
	height: 250px;
	background-color: $contrast-color;
}